html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

a {
    text-decoration: none
}

.clearfix,.row {
    position: relative
}

.clearfix:after,.row:after {
    content: "";
    clear: both;
    display: table
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none
}

button {
    cursor: pointer
}

b {
    font-weight: 600
}

input[type=number]-webkit-inner-spin-button,input[type=number]-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0
}

select {
    -webkit-appearance: none;
    -moz-appearance: none
}

@font-face {
    font-family: "Manrope-ExtraBold";
    src: url("../font/webfont/Manrope-ExtraBold.eot?#iefix") format("embedded-opentype"),url("../font/webfont/Manrope-ExtraBold.woff") format("woff"),url("../font/webfont/Manrope-ExtraBold.ttf") format("truetype"),url("../font/webfont/Manrope-ExtraBold.svg#HelveticaNeue-Light") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Manrope-Medium";
    src: url("../font/webfont/Manrope-Medium.eot?#iefix") format("embedded-opentype"),url("../font/webfont/Manrope-Medium.woff") format("woff"),url("../font/webfont/Manrope-Medium.ttf") format("truetype"),url("../font/webfont/Manrope-Medium.svg#HelveticaNeue-Light") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Manrope-Regular";
    src: url("../font/webfont/Manrope-Regular.eot?#iefix") format("embedded-opentype"),url("../font/webfont/Manrope-Regular.woff") format("woff"),url("../font/webfont/Manrope-Regular.ttf") format("truetype"),url("../font/webfont/Manrope-Regular.svg#HelveticaNeue-Light") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "Manrope-SemiBold";
    src: url("../font/webfont/Manrope-SemiBold.eot?#iefix") format("embedded-opentype"),url("../font/webfont/Manrope-SemiBold.woff") format("woff"),url("../font/webfont/Manrope-SemiBold.ttf") format("truetype"),url("../font/webfont/Manrope-SemiBold.svg#HelveticaNeue-Light") format("svg");
    font-weight: normal;
    font-style: normal
}

body,input,textarea,button,p,a,li,select,h1,h2,h3,h4,h5,h6 {
    font-family: "Poppins";
    font-size: 16px;
    line-height: 1.5;
    color: #000
}
