.dropdowns .dropdown-div {
    width: 10rem;
    display: block;
    border: 1px solid green;
    border-radius: 2px;
    display:none;
}

.dropdown-div ul {
    list-style: none;
    padding: 5px 10px;    
}

.dropdown-div ul li:hover {
    background-color: greenyellow;
}

.dropdown-label:hover + .dropdown-div {
    display: block;
}
